##### Postgres Database Server #####
#Define postgres database and database volume data persist data in a permanently
postgres-data:
  container_name: postgresdata
  image: busybox
  volumes:
   - /var/lib/postgresql/data

postgres:
  container_name: postgres
  build: postgres
  volumes_from:
   - postgres-data
  ports:
   - "5432:5432"
  environment:
   - POSTGRES_USER=admin
   - POSTGRES_ADMIN=admin
   
##### Artifactory Application Server #####
artifactory-data:
  container_name: artifactorydata
  build: artifactorydata
   
artifactory:
  container_name: artifactory
  build: artifactory
  volumes_from:
   - artifactory-data
  links:
   - postgres
  ports:
   - "8081:8081"

##### Bitbucket Application Server #####
    #Define bitbucket service and bitbucket volume data persist data in a permanently 
bitbucket-data:
  container_name: bitbucketdata
  image: busybox
  volumes:
   - /var/atlassian/application-data/bitbucket

bitbucket:
  container_name: bitbucket
  build: bitbucket
  volumes_from:
   - bitbucket-data
  links:
   - postgres
  ports:
   - "7990:7990"
   - "7999:7999"

##### Bamboo Application Server #####
    #Define bamboo service and bamboo volume data persist data in a permanently   
bamboo-data:
  container_name: bamboodata
  image: busybox
  volumes:
   - /home/bamboo

bamboo:
  container_name: bamboo
  build: bamboo
  volumes_from:
   - bamboo-data
  links:
   - postgres
  ports:
   - "8085:8085"
##### Sonarqube Server #####
sonarqube-data:
    container_name: sonarqubedata
    image: busybox
    volumes: 
    - /opt/sonarqube/data
    - /opt/sonarqube/extensions
    
sonarqube:
    container_name: sonarqube
    image: sonarqube:5.2
    volumes_from:
        - sonarqube-data
    links:
        - postgres
    ports:
        - "9000:9000"
    environment:
        - SONARQUBE_JDBC_URL=jdbc:postgresql://postgres:5432/sonar
    
